* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.php binary
*.editorconfig binary
*.env.example binary
*.json binary
*.gitattributes binary
*.gitignore binary
*.yml binary
*.md binary
*. binary